@charset "utf-8";

// Import a Google Font
@import url('href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$blue: #00103D;
$cyan: #C4DDF2;
$beige-light: #F2F2F2;
$beige-lighter: #C4DDF2;

// Update Bulma's global variables
$title-family: "Merriweather", serif;
$family-sans-serif: "Roboto", sans-serif;
$grey-dark: $blue;
$grey-light: $beige-light;
$primary: $blue;
$light: $cyan;
$info: $beige-light;
$link: $cyan;
$link-active: $cyan;
$widescreen-enabled: false;
$fullhd-enabled: false;
$text: $beige-light;
$title-color: $beige-light;
$background: $blue;
$link-hover: $cyan;

// Update some of Bulma's component variables
$body-background-color: $blue;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/elements/image.sass";