<head>
    <!-- Start cookieyes banner -->
    <script id="cookieyes" type="text/javascript"
      src="https://cdn-cookieyes.com/client_data/5dc1c9a65198863c96c4019b.js"></script>
    <!-- End cookieyes banner -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QJBR1MV8X1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
  
      gtag('config', 'G-QJBR1MV8X1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Take part in a study of Upwork Freelancers' Work-Life Balance" />
    <meta property="og:description"
      content="This research project aims to explore the perceived work-life balance of freelancers who use the platform Upwork to complete freelance work. The main purpose of this research is to investigate how features of the Upwork platform impact freelancers work and personal preferred boundaries. Learn more about the study." />
    <meta property="og:url" content="https://freelbalance.info" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1200px" />
    <meta property="og:image:height" content="630px" />
    <meta property="og:image" content="https://freelbalance.info/assets/Freelancebalance-banner.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@CarlosAlvarezIF">
    <meta name="twitter:title" content="Participate in a study about Freelancers' Work-Life Balance">
    <meta name="twitter:description"
      content="This research project aims to explore the perceived work-life balance of freelancers who use the platform Upwork to complete freelance work. Sign up here." />
    <meta name="twitter:image" content="https://freelbalance.info/assets/Freelancebalance-banner.jpg" />
    <title>Freelnace Balance</title>
    <link rel="stylesheet" href="css/mystyles.css">
    <link rel="icon" type="image/png" href="assets/Freelance-balance-favicon-02.png">
    <link type="image/jpg" href="assets/Freelancebalance-banner.jpg">
    <link type="image/png" href="assets/northumbria-university-logo.png">
    <link rel="stylesheet" type="text/css"
      href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  </head>