<nav class="navbar is-light has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
    <!--Logo / brand -->
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.baseurl }}/">
            <img src="assets/Freelance-balance-01.svg" alt="freelance balance logo" href="{{ site.baseurl }}/" data-target="home">
        </a>
        <a class="navbar-burger" role="bottom" data-target="menubar" id="navbar-burger" aria-label="menu"
            aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu is-primary" id="menubar">
        <div class="navbar-end">
            <a href="#home" class="navbar-item" data-target="home">Top</a>
            <a href="#about" class="navbar-item" data-target="about">About the study</a>
            <a href="#faqs" class="navbar-item" data-target="faqs">FAQs</a>
            <a href="./assets/Freelance-Balance-Information-Sheet-CA.pdf" target="_blank" class="navbar-item"
                data-target="">Participant information PDF</a>
        </div>
    </div>
</nav>